<a href="{{ anchorGenre }}">
  <div class="p-1 rounded-xl bg-cinzaEscuro transition duration-300">
    <div class="rounded-xl mx-2 my-2 bg-gradient-to-r {{ colorBackground }}">

      <img class="rounded-xl w-32 h-32" src="{{ imageCover }}" alt=""/>

      <div class="absolute ml-16 -mt-14 playerCardMusicSvg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 text-verdePrincipal">
          <path class="" stroke-linecap="round" stroke-linejoin="round" d="M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          <path class="text-verdePrincipal" stroke-linecap="round" stroke-linejoin="round" d="M15.91 11.672a.375.375 0 0 1 0 .656l-5.603 3.113a.375.375 0 0 1-.557-.328V8.887c0-.286.307-.466.557-.327l5.603 3.112Z" />
        </svg>
      </div>
    </div>

    <h3 class="font-bold font-inter text-2xl text-branco ml-2 my-4">{{ labelGenre }}</h3>

    <!--    <p class="font-bold font-inter text-branco ml-2">text</p>-->
  </div>
</a>

